.create-button {
    font-weight: 600;
    cursor: pointer;
}

.form input {
    /* flex: 1; 버튼을 뺀 빈 공간을 모두 채워줍니다 */
    outline: none;
    border: none;
    border-bottom: 1px solid #F2933A;
  }

.create-button:hover {
    color: #F2933A;
}