/* .buttonGroup {
    position: fixed;
    margin-top: 10px;
}

.center {   
    position: fixed;
    right: 610px;
}

#previous {
    position: fixed;
    right: 710px; 
}

#next {
    position: fixed;
    right: 520px;
} */

.pagination {
    display: flex;
    justify-content: center;
}

.page-item {
    width: 100px;
    list-style-type: none;
}

.page-item button {
    border: 1px solid #73d4fa;
    background: white;
    width: 80px;
}
