/* .items{
    position: relative;
    display: inline-block;
    width: 4.5%;
} */


.items .caption{
    display: inline-block;
    position: relative;
    /* z-index: 999; */
    /* margin: 0 auto; */
    top: 0;
    font-size: x-small;
    /* text-align: center; */
     /* Set the width of the positioned div */
}

.forecast {
    margin: auto;
    margin-top: 15px;
    display: flex;
    max-width: 320px;
    height: 120px;
    flex-wrap: wrap;
}

.items {
    position: relative;
    width: 80px;
    height: 50px;
}

@media only screen and (max-width: 600px) {
    .forecast {
        display: none;
    }
}