.name {
    font-size: 40px;
    font-family: sans-serif;
    margin: 1rem;
}

.icon {
    justify-content: center;
}

.main {
    font-size: 20px;
    font-family: Verdana;
    color: #56a5c4;
}

.description {
    font-family: Calibri;
    font-weight: lighter;
}

.time {
    font-size: small;
    font-weight: 350;
}