.Forecast {
    display: flex;
}

.create-button {
    font-weight: 600;
    max-width: 3rem;
    background-color: #73d4fa;
    color: white;
    margin: auto;
    cursor: pointer;
}

.form input {
    /* flex: 1; 버튼을 뺀 빈 공간을 모두 채워줍니다 */
    outline: none;
    border: none;
    border-bottom: 1px solid #73d4fa
  }

.create-button:hover {
    color: cyan;
}

.message {
    font-size: small;
    color: #eb4034;
    position: absolute;
}

#error {
    border-bottom: 1px solid #eb4034;
}