.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

html {
  height: -webkit-fill-available;
  overflow-x: hidden;
}

body {
  position: relative;
  overflow-x: hidden;
}

/* .App-header {
  background-color: #282c34;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 */

main {
  flex-grow: 1;
  text-align: center;
  margin-bottom: 10px;
}

footer {
  padding: 2px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #eeeeee;
  font-size: 1.3vw;
  text-align: center;
}

header {
  padding: 15px;
}

@media (max-width: 600px) {
  nav {
    display: none;
  } 
  
  
  footer {
    display: none;
  }
}

.navBar ul {
  font-size: 1.8vw;
  text-align: right;
  position: fixed;
  top: 0;
  padding: 0;
  margin: 0;
  list-style-type: none;
  width: 15%;
  height: 100%;
  background-color: #eeeeee;
  overflow: auto;
}

.navBar li a {
  text-decoration: none;
  color: #000;
  display: block;
  padding: 8px 15px;
}

.navBar li a.active {
  background-color: #4caf50;
  color: white;
}

.navBar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}

#langButton {
  position: absolute;
  right: 100px;
  top: 15px;
}
